
@font-face {
    font-family: Sang bleu-regular;
    src: url(./Fontes/SangBleu-Sunrise.ttf);
}

@font-face {
    font-family: Sang bleu-light;
    src: url(./Fontes/SangBleu-Sunrise.ttf);
}

@import url('https://fonts.googleapis.com/css2? family= Black+Han+Sans & family= M+PLUS+Rounded+1c:wght@100;300;400;500;700; 800;900 & família= Maven+Pro:wght@400;500;600;700;800;900 & família= Poppins & família= Russo+One & família= Ultra & display=swap');

@font-face {
    font-family: Carrosel-Light;
    src: url(./Fontes/M_PLUS_Rounded_1c/MPLUSRounded1c-Light.ttf);
}

:root {
    --roxo: #CAC5C9;;
    --marrom: #746469;
    --cinza: #CAC5C9;
    --claro: #F1EDE6;
    --marrom: #EBE3DB;
    --cinza: #D1C7BD;
    --bege: #CBAD8D;
    --marrronEscuro: #A48374;
    --Preto: #3A2D28;

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    position: relative;
    
}

body{
    background-image: url(./img/fundo/pexels-polina-tankilevitch-3736314.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: center center;
    height: 100vh;
}

header {
    /* position: fixed; */
    width: 100%;
}


li{
    list-style: none;
}
a{
    color: aliceblue;
    text-decoration: none;
}

.navbar {
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 34px;
    background-color: rgba(255, 255, 255, 0.021);
    margin-top: 10px;
}

.logo{
    font-family: 'Sang bleu-regular';
    font-weight: 400;
    text-decoration: none;
    font-size: 20px;
    color: #12345D;

}

.nav-menu{
    display: flex;
    align-items: center;
    gap: 60px;
    font-family: 'Sang bleu-regular';
    font-weight: bold;
}

.nav-link{
    transition: 0.5s ease;
}

.nav-link:hover{
    color: black;
}

.hamburguer{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 2px;
    margin: 5px auto;
    background-color: beige;
    transition: all 0.3 ease-in-out;
}

@media (max-width:800px){
    .hamburguer{
        display: block;
    }
    .hamburguer.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburguer.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
    }
    .hamburguer.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        border-radius: 0 0 20px 20px;
        background-color: #CAC5C9;;
        text-align: center;
        flex-direction: column;
        width: 100%;
        transition: 0.3s;
    }

    .nav-item{
        margin: 16px 0;
    }
    .nav-menu.active{
        left: 0;
    }
}


/* h2{
    font-family: 'Sang bleu-regular';
    font-weight: 400;
}
.navbar{
    background-color: rgba(255, 255, 255, 0.021);
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.navbar .nav-menu {
    display: flex;
    list-style: none;
    gap: 2rem;
    align-items: center;
    font-family: 'Sang bleu-light';
    font-size: 20px;
}

.navbar div {
    width: 50px;

}

.navbar .nav-menu .nav-item .nav-link {
    text-decoration: none;
    font-family: 'Sang bleu-light';
    color: #3F3F3F;
    font-weight: 600;
    padding: 8px 0;
    transition: all;
    transition-duration: 300ms;
    border-bottom: 1px solid rgba(0, 0, 0, 0);

}

.navbar .nav-menu .nav-item .nav-link:hover{
    color:#475363;
    border-bottom: 3px solid #12345D;
}

.hamburguer{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 2px;
    margin: 5px auto;
    background-color: beige;
    transition: all 0.3 ease-in-out;
}

@media (max-width:800px){
    .hamburguer{
        display: block;
    }
    .hamburguer.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburguer.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
    }
    .hamburguer.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        border-radius: 0 0 20px 20px;
        background-color: #ACBDAA;
        text-align: center;
        flex-direction: column;
        width: 100%;
        transition: 0.3s;
    }

    .nav-item{
        margin: 16px 0;
    }
    .nav-menu.active{
        left: 0;
    }
} */

/* Main */

section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-width: auto;
    height: 100vh;
    overflow: hidden;

}

 .sec-1 h1{
    color: #475363;
    font-family: Sang bleu-regular;
    font-weight: normal;
    font-size: 200px;
   

}
    

p{
  font-size: 30px;  
  color: var(--roxo);
  font-weight: lighter;
  font-family: Sang bleu-light;
  
}
 
.sec-1 .animate {
    transition: 1s;
} 


.sec-1 .animate {
    transform: translateX(0%);
    transition: 3.0s;

}

.sec-1.show-animate .animate {
    transform: translateX(300%);
}

.slider .controls {
      position: absolute;
      
}

/* Carrosel vertical */

.slider-container {
    position: relative;
    overflow: hidden;
    width: auto;
    height: 100vh;
    font-family: Carrosel-Light;
  
}

.left-slide {
    height: 100vh;
    width: 35%;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform .5s ease-in-out;
}

.left-slide > div {
   height: 100%;
   width: 100%; 
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   color: aliceblue;
   
}

.left-slide h3 {
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: -30px;

}

.right-slide {
    height: 100%;
    position: absolute;
    top: 0;
    left: 35%;
    width: 65%;
    
}

.right-slide > div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
}

.slider-container .action-buttons 
button {
    position: absolute;
    left: 35%;
    top: 50%;
    z-index: 100;
}

.slider-container .action-buttons 
 .down-button {
    transform: translateX(-100%);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.slider-container .action-buttons 
 .up-button {
    transform: translateY(-100%);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

button{
    background-color: #e6e8eb;
    border: none;
    color: #21202D;
    cursor: pointer;
    font-size: 16px;
    padding: 15px;
}

button:hover {
    color: #30343F;
}

button:focus {
    outline: none;
}

.image-container {
    overflow-x: hidden;
    max-width: 768px;
}
.image-wrapper {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% - (1.5rem * (var(--per-view) - 1))) / var(--per-view));
    grid-gap: 1.5rem;
    position: relative;
    left: 0;
    transition: .3s;
}
.image-wrapper > * {
    aspect-ratio: 4 / 3;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: .5rem;
}

/* Card em loop */

.Card {
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #B8BFC6;
   
    
}

.image-container {
    overflow-x: hidden;
    max-width: 1000px;
    
   

}
.image-wrapper {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% - (1.5rem * (var(--per-view) - 1))) / var(--per-view));
    grid-gap: 1.5rem;
    position: relative;
    left: 0;
    transition: .3s;
    width: 70em;

}
.image-wrapper > * {
    aspect-ratio: 4 / 3;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: .5rem;
}

.textoCard {
    font-size: 10px;
    font-weight: 'M Plus';
}

/* footter */

footer {
    background-color: #CACECE;
    height: auto;
    /* width: 100vw; */
    font-family: 'M Plus';
    padding-top: 2px;
    color: aliceblue;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h5 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;

}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: #746469;
}

.socials a i {
    font-size: 1.1rem;
}

.socials a:hover i{
    color: #475363;
}

.footer-bottom{
    background: #12345D;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span {
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}