@font-face {
    font-family: Sang bleu-regular;
    src: url(./Fontes/SangBleu-Sunrise.ttf);
}

@font-face {
    font-family: Sang bleu-light;
    src: url(./Fontes/SangBleu-Sunrise.ttf);
}

@import url('https://fonts.googleapis.com/css2? family= Black+Han+Sans & family= M+PLUS+Rounded+1c:wght@100;300;400;500;700; 800;900 & família= Maven+Pro:wght@400;500;600;700;800;900 & família= Poppins & família= Russo+One & família= Ultra & display=swap');

@font-face {
    font-family: ;
    src: url(./Fontes/M_PLUS_Rounded_1c/MPLUSRounded1c-Light.ttf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    position: relative;
    
}

body{
     background-image: url(./img/fundo/pexels-maycon-marmo-4346016.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: center center;
    height: 100vh;



}

h2{
    font-family: 'Sang bleu-regular';
    font-weight: 400;
}
nav{
    background-color: rgba(255, 255, 255, 0.021);
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 2rem;
    align-items: center;
    font-family: 'Sang bleu-light';
}

nav div {
    width: 50px;

}

nav ul li a {
    text-decoration: none;
    font-family: 'Sang bleu-light';
    color: #3F3F3F;
    font-weight: 600;
    padding: 8px 0;
    transition: all;
    transition-duration: 300ms;
    border-bottom: 1px solid rgba(0, 0, 0, 0);

}

nav ul li a:hover{
    color:#475363;
    border-bottom: 3px solid #12345D;
}


/* h1{
    font-weight: normal;
    text-align: center;
    margin-top: 15%;
    font-style: italic;
    font-size: 80px;
    font-family: Sang bleu-light;
    color: #475363;
    
} */

section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-width: auto;
    height: 100vh;
    overflow: hidden;

}

h1{
    font-size: 90px;
    color: #475363;
    font-family: Sang bleu-regular;
    font-weight: normal;
}

p{
  font-size: 25px;  
  color: #12345D;
  font-weight: 600;
  font-family: Sang bleu-regular;
}

section .animate {
    transition: 1s;
}



.sec-1 .animate {
    transform: translateX(0%);
    transition: 5s;
}

.sec-1.show-animate .animate {
    transform: translateX(150%);
}

.slider .controls {
      position: absolute;
      
}

/* Carrosel vertical */

.slider-container {
    position: relative;
    overflow: hidden;
    width: auto;
    height: 100vh;
  
}

.left-slide {
    height: 100vh;
    width: 35%;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform .5s ease-in-out;
}

.left-slide > div {
   height: 100%;
   width: 100%; 
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   color: aliceblue;
   
}

.left-slide h3 {
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: -30px;

}

.right-slide {
    height: 100%;
    position: absolute;
    top: 0;
    left: 35%;
    width: 65%;
    
}

.right-slide > div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
}

.slider-container .action-buttons 
button {
    position: absolute;
    left: 35%;
    top: 50%;
    z-index: 100;
}

.slider-container .action-buttons 
 .down-button {
    transform: translateX(-100%);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.slider-container .action-buttons 
 .up-button {
    transform: translateY(-100%);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

button{
    background-color: #12345D;
    border: none;
    color: #475363;
    cursor: pointer;
    font-size: 16px;
    padding: 15px;
}

button:hover {
    color: aquamarine;
}

button:focus {
    outline: none;
}

.image-container {
    overflow-x: hidden;
    max-width: 768px;
}
.image-wrapper {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% - (1.5rem * (var(--per-view) - 1))) / var(--per-view));
    grid-gap: 1.5rem;
    position: relative;
    left: 0;
    transition: .3s;
}
.image-wrapper > * {
    aspect-ratio: 4 / 3;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: .5rem;
}

/* Card em loop */

.Card {
    min-height: 100vh;
    align-items: center;
    justify-content: center;
   
    
}

.image-container {
    overflow-x: hidden;
    max-width: 768px;
   

}
.image-wrapper {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% - (1.5rem * (var(--per-view) - 1))) / var(--per-view));
    grid-gap: 1.5rem;
    position: relative;
    left: 0;
    transition: .3s;
    width: 70em;

}
.image-wrapper > * {
    aspect-ratio: 4 / 3;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: .5rem;
}

.textoCard {
    font-size: 10px;
    font-weight: 'M Plus';
}


